.intro-container {
  display: flex;
  margin-left: 130px;
  margin-right: 130px;
  justify-content: space-evenly;
}

.about-me {
  width: 40%;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.intro-container h1 {
  color: purple;
  font-size: 40px;
  font-weight: bolder;
}