.card-container {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-img {
  width: 100px;
}

.text {
  font-size: 14px;
  color: gray;
  text-align: center;
}